:root {
  --main-background: #141417;
  --main-foreground: #e5e5e5;
  --main-border: #464646;
  --sticky-background: #131316;
  --sticky-foreground: #e5e5e5;
  --anchor-foreground: #d7d7d7;
  --heading-foreground: #ffffff;
  --aside-foreground: #bbbbbb;
  --input-background: #292929;
  --input-foreground: #e9e9e9;
  --input-placeholder-foreground: #808080;
  --input-border: #404040;
  --main-sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans JP",
    "Segoe UI", "Yu Gothic", "Tahoma", "MS P Gothic", sans-serif;
  --main-monospace: "SF Mono", "Roboto Mono", "Noto Sans Mono JP", "Consolas",
    "MS Gothic", monospace;
  color: var(--main-foreground);
  font-family: var(--main-sans-serif);
  background: var(--main-background);
  width: 100%;
  min-height: 100vh;
  overscroll-behavior: none;
}

body {
  margin: 0 auto;
}

a {
  color: var(--anchor-foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
